:root {
    --header-height: 100px;
    --footer-height: 50px;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: rgb(245, 245, 245);
    color: #112A46;
}


body {
    height: 100vh;
    
}
.inputs {
    display: flex;
    
    gap: 30px;
}
label {
    font-size: 20px;
    font-weight: bold;
}
input {
    height: 30px;
    width: 220px;
    font-size: 18px;
    font-weight: 800;
    padding: 4px 12px; /* Add padding for better appearance */
    background-color: white;
    border: 1px solid rgb(17, 42, 70); /* Red border */
    border-radius: 12px;
    color: rgb(70, 70, 70); /* Dark gray font color */
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Smooth transition */
}

/* Adjust hover effect for inputs */
input:hover {
    background-color: rgb(17, 42, 70, 0.1);; /* Light red on hover */
    border-color: rgb(17, 42, 70, 0.5); /* Light red border on hover */
    color: rgb(17, 42, 70); /* Red font color on hover */
}
header {
    display: flex;
    height: var(--header-height);
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
h1, h3, h2 {
    color: rgb(17, 42, 70);
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    
    height: calc(100vh - var(--header-height) - var(--footer-height));
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
    
    
}
footer {
    height: var(--footer-height);
    
    justify-content: center;
    align-items: center;
    font-size: 18px;
    display: flex;
}
.board {
    display: grid;
    height: 550px;
    width: 550px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 4px solid rgb(17, 42, 70);
    border-radius: 8px;
}
.reset {
    padding: 8px 15px;
    font-size: 18px;
    border: 2px solid rgb(17, 42, 70);
    border-radius: 20px;
    background-color: white;
    margin-top: 10px;
    cursor: pointer;

}
.cell {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 130px;
    color: rgb(17, 42, 70, 0.5);
    border: 1px solid #112A46;
    cursor: pointer;
    background-color: white;
    
    
}
.cell:hover,
button:hover {
    background-color: rgb(17, 42, 70, 0.1);
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

dialog h1 {
    text-align: center;
    margin-bottom: 20px;
    background-color: white;

}

dialog button {
    display: block;
    margin: 0 auto;
}