@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --header-height: 100px;
  --footer-height: 50px;
}

/* Apply the font to your elements */
body {
  height: 100vh;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Arial;
  box-sizing: border-box;
  background-color: rgb(245, 245, 245);
  color: #112a46;
}

.inputs {
  display: flex;

  gap: 30px;
}
label {
  font-size: 20px;
  font-weight: bold;
}
input {
  height: 30px;
  width: 220px;
  font-size: 18px;
  font-weight: 800;
  padding: 4px 12px; /* Add padding for better appearance */
  background-color: white;
  border: 1px solid rgb(17, 42, 70); /* Red border */
  border-radius: 12px;
  color: rgb(70, 70, 70); /* Dark gray font color */
  transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Smooth transition */
}

/* Adjust hover effect for inputs */
input:hover {
  background-color: rgb(17, 42, 70, 0.1); /* Light red on hover */
  border-color: rgb(17, 42, 70, 0.5); /* Light red border on hover */
  color: rgb(17, 42, 70); /* Red font color on hover */
}
header {
  display: flex;
  height: var(--header-height);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
h1,
h3,
h2 {
  color: rgb(17, 42, 70);
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;

  height: calc(100vh - var(--header-height) - var(--footer-height));
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
}
footer {
  height: var(--footer-height);
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  display: flex;
}
img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 50%;
}

img:hover {
  transform: scale(1.1); /* Increase the size by 10% */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
}

.board {
  display: grid;
  height: 520px;
  width: 520px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  border-radius: 8px;
  border: 6px solid #112a46;
}
.reset {
  padding: 10px 20px;
  font-size: 20px;
  border: 2px solid rgb(17, 42, 70);
  border-radius: 20px;
  background-color: white;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}
.container .reset {
  margin-top: 18px;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 130px;
  color: rgb(17, 42, 70, 1);
  border: 2px solid #112a46;
  cursor: pointer;
  background-color: rgb(17, 42, 70, 0.1);
}

button:hover {
  background-color: rgb(17, 42, 70, 0.1);
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

dialog h1 {
  text-align: center;
  margin-bottom: 20px;
  background-color: white;
}

dialog button {
  display: block;
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  .inputs {
    flex-direction: column;
    align-items: center;
  }

  .input1,
  .input2 {
    width: 80%;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .board {
    width: 90vw;
    max-width: 300px;
    height: 300px;
  }

  .cell {
    font-size: 50px;
  }

  footer {
    font-size: 8px;
  }
  header {
    font-size: 15px;
  }
}

.cell:nth-child(3n + 1) {
  border-left: none; /* Remove left border for every third cell */
}

.cell:nth-child(-n + 3) {
  border-top: none; /* Remove top border for the first row */
}

.cell:nth-child(n + 7) {
  border-bottom: none; /* Remove bottom border for the last row */
}

.cell:nth-child(3n) {
  border-right: none; /* Remove right border for every third cell */
}
